node-red/.flows.json.backup
[{"id":"139e6b49.d37c35","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6eb0c45f.d89cfc","type":"server","z":"","name":"Home Assistant"},{"id":"bd451e2.5187c6","type":"mqtt-broker","z":"","name":"mqtt_devel","broker":"10.0.1.56","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"660ff867.b0319","type":"mqtt-broker","z":"","name":"mqtt","broker":"10.0.1.9","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae5a097a.f9132","type":"mqtt in","z":"139e6b49.d37c35","name":"","topic":"shellies/#","qos":"2","datatype":"auto","broker":"bd451e2.5187c6","x":440,"y":380,"wires":[["8a8ee0a2.59a51"]]},{"id":"8a8ee0a2.59a51","type":"debug","z":"139e6b49.d37c35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":540,"wires":[]},{"id":"8cd5d676.ebe918","type":"mqtt out","z":"139e6b49.d37c35","name":"","topic":"","qos":"","retain":"","broker":"bd451e2.5187c6","x":360,"y":80,"wires":[]},{"id":"a675bbb2.d605","type":"inject","z":"139e6b49.d37c35","name":"","topic":"shellies/shellyswitch25-E66F6D/roller/0/command","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["8cd5d676.ebe918"]]},{"id":"62ca7118.e5a6d","type":"inject","z":"139e6b49.d37c35","name":"","topic":"shellies/shellyswitch25-E66F6D/roller/0/command","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["8cd5d676.ebe918"]]},{"id":"4c7340fc.bbc5b","type":"inject","z":"139e6b49.d37c35","name":"","topic":"shellies/shellyswitch25-E66F6D/roller/0/command","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["8cd5d676.ebe918"]]},{"id":"11069a5d.64905e","type":"inject","z":"139e6b49.d37c35","name":"","topic":"shellies/shellyswitch25-E66F6D/roller/0/command/pos","payload":"89","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["8cd5d676.ebe918"]]}]